<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title">
      <%= railway_station.title %>
    </h5>

    <div class="row mb-2">
      <div class="col">
        <img src="<%= asset_path('station') %>" class="img">
      </div>
    </div>

    <% if local_assigns[:position].present? %>
      <p>Порядковый номер: <%= position %></p>
    <% end %>

    <% if show_time_for_station? %>
      <% if local_assigns[:arrival_time].present? %>
        <p>Прибытие: <%= arrival_time.strftime("%d.%m.%Y %H:%M") %></p>
      <% end %>

      <% if local_assigns[:departure_time].present? %>
        <p>Отправление: <%= departure_time.strftime("%d.%m.%Y %H:%M") %></p>
      <% end %>
    <% end %>

    <% unless request.path == admin_railway_station_path(railway_station)  %>
      <%= link_to 'Подробнее', admin_railway_station_path(railway_station) %>
    <% end %>
  </div>
</div>