<tr>
  <td><%= railway_station.id %></td>
  <td>
    <%= railway_station.title %>
    <% if local_assigns[:position].present? %>
      <br>
      <small class="text-muted">Порядковый номер: <%= position %></small>
    <% end %>
    
    <% if show_time_for_station? %>
      <% if local_assigns[:arrival_time].present? %>
        <br>
        <small class="text-muted">Прибытие: <%= arrival_time.strftime("%d.%m.%Y %H:%M") %></small>
      <% end %>

      <% if local_assigns[:departure_time].present? %>
        <br>
        <small class="text-muted">Отправление: <%= departure_time.strftime("%d.%m.%Y %H:%M") %></small>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= railway_station.created_at.strftime("%d.%m.%Y %H:%M") %>
  </td>
  <td>
    <%= link_to 'Показать', admin_railway_station_path(railway_station), class: 'text-primary text-decoration-none' unless request.path == admin_railway_station_path(railway_station) %>
  </td>
</tr>