<%= link_to 'Назад', admin_railway_stations_path %>

<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Станция: <%= @railway_station.title %></h1>
    <%# <%= link_to 'Назад к списку', admin_railway_stations_path, class: 'btn btn-outline-secondary' %>
  </div>

  <div class="card mb-2">
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-3 text-muted">ID станции:</div>
        <div class="col-md-9"><%= @railway_station.id %></div>
      </div>
      
      <div class="row mb-3">
        <div class="col-md-3 text-muted">Название:</div>
        <div class="col-md-9"><%= @railway_station.title %></div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3 text-muted">Дата создания:</div>
        <div class="col-md-9"><%= @railway_station.created_at.strftime("%d.%m.%Y %H:%M") %></div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3 text-muted">Дата обновления:</div>
        <div class="col-md-9"><%= @railway_station.updated_at.strftime("%d.%m.%Y %H:%M") %></div>
      </div>
    </div>
  </div>

  <div class="d-flex gap-2 mb-4">
    <%= link_to "Изменить", edit_admin_railway_station_path(@railway_station) %>
    <%= link_to "Удалить", 
                admin_railway_station_path(@railway_station),
                data: { 
                  turbo_method: :delete, 
                  turbo_confirm: "Вы уверены, что хотите удалить эту станцию?" 
                } %>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h5 class="card-title mb-0">Маршруты</h5>
    </div>
    <div class="card-body">
      <% if @railway_station.routes.any? %>
        <div class="list-group">
          <% @railway_station.routes.each do |route| %>
            <%= render partial: 'admin/routes/route', locals: { route: route } %>
          <% end %>
        </div>
      <% else %>
        <p class="text-muted mb-0">Станция не входит ни в один маршрут</p>
      <% end %>
    </div>
  </div>
</div>
