<%= form_with(model: @route, url: @route.persisted? ? admin_route_path(@route) : admin_routes_path, method: @route.persisted? ? :patch : :post) do |f| %>
  <%= render 'shared/errors', object: @route %>

  <div class="mb-2">
    <%= f.label :name, 'Имя маршрута:' %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-2">
    <h4>Станции маршрута:</h4>
    <div id="stations">
      <%= f.fields_for :railway_stations_routes do |rsr| %>
        <div class="station-fields mb-2">
          <div class="mb-2">
            <%= rsr.label :railway_station_id, "Станция:" %>
            <%= rsr.collection_select :railway_station_id, RailwayStation.all, :id, :title, {}, class: 'form-select' %>
          </div>

          <div class="mb-2">
            <%= rsr.label :position, "Порядковый номер:" %>
            <%= rsr.number_field :position, class: 'form-control' %>
          </div>

          <div class="mb-2">
            <%= rsr.label :arrival_time, "Время прибытия:" %>
            <%= rsr.datetime_select :arrival_time, include_seconds: false, default: Time.current %>
          </div>

          <div class="mb-2">
            <%= rsr.label :departure_time, "Время отправления:" %>
            <%= rsr.datetime_select :departure_time, include_seconds: false, default: Time.current %>
          </div>

          <a type="button" class="remove-station">Удалить станцию</a>
        </div>
      <% end %>
    </div>

    <button type="button" id="add-station" class="btn btn-secondary">Добавить станцию</button>
  </div>

  <div>
    <%= f.submit 'Сохранить', class: 'btn btn-secondary' %>
  </div>
<% end %>

<script>
  function initializeStationFields() {
    const stationsContainer = document.getElementById('stations');
    const addStationButton = document.getElementById('add-station');
    
    stationsContainer.addEventListener('click', function(e) {
      if (e.target.classList.contains('remove-station')) {
        e.preventDefault();
        e.target.closest('.station-fields').remove();
      }
    });
    
    if (!addStationButton.dataset.initialized) {
      addStationButton.dataset.initialized = 'true';
      
      addStationButton.addEventListener('click', function() {
        const newStationFields = `
          <div class="station-fields mb-2">
            <div class="mb-2">
              <label for="route_railway_stations_routes_attributes_NEW_railway_station_id">Станция:</label>
              <select class="form-select" name="route[railway_stations_routes_attributes][NEW][railway_station_id]" id="route_railway_stations_routes_attributes_NEW_railway_station_id">
                <%= options_from_collection_for_select(RailwayStation.all, :id, :title) %>
              </select>
            </div>

            <div class="mb-2">
              <label for="route_railway_stations_routes_attributes_NEW_position">Порядковый номер:</label>
              <input class="form-control" type="number" name="route[railway_stations_routes_attributes][NEW][position]" id="route_railway_stations_routes_attributes_NEW_position">
            </div>

            <div class="mb-2">
              <label for="route_railway_stations_routes_attributes_NEW_arrival_time">Время прибытия:</label>
              <%= datetime_select "route[railway_stations_routes_attributes][NEW]", :arrival_time, include_seconds: false, default: Time.current %>
            </div>

            <div class="mb-2">
              <label for="route_railway_stations_routes_attributes_NEW_departure_time">Время отправления:</label>
              <%= datetime_select "route[railway_stations_routes_attributes][NEW]", :departure_time, include_seconds: false, default: Time.current %>
            </div>

             <a type="button" class="remove-station">Удалить станцию</a>
          </div>
        `;

        stationsContainer.insertAdjacentHTML('beforeend', newStationFields.replace(/NEW/g, new Date().getTime()));
      });
    }
  }

  document.addEventListener('DOMContentLoaded', initializeStationFields);
  document.addEventListener('turbo:load', initializeStationFields);
  document.addEventListener('turbolinks:load', initializeStationFields);
</script>