<tr>
  <td><%= route.id %></td>
  <td><%= route.name %></td>
  <td>
    <% if route.railway_stations.any? %>
      <%= route.railway_stations.count %> станций
    <% else %>
      <span class="text-muted">Нет станций</span>
    <% end %>
  </td>
  <td><%= route.created_at.strftime("%d.%m.%Y %H:%M") %></td>
  <td>
    <%= link_to 'Показать', 
                admin_route_path(route), 
                class: 'text-primary text-decoration-none' unless request.path == admin_route_path(route) %>
  </td>
</tr>
