<%= form_with model: [current_user, @ticket] do |f| %>
  <%= render 'shared/errors', object: @ticket %>

  <div class="mb-2">
    <%= f.label :passenger_name, "ФИО пассажира:" %>
    <%= f.text_field :passenger_name, required: true, class: 'form-control' %>
  </div>

  <div class="mb-2">
    <%= f.label :passport_number, "Паспорт:" %>
    <%= f.text_field :passport_number, required: true, class: 'form-control' %>
  </div>

  <%= f.hidden_field :train_id %>

  <%= f.hidden_field :departure_station_id %>

  <%= f.hidden_field :arrival_station_id %>

  <%= f.submit "Купить билет", class: 'btn btn-primary' %>
<% end %>