<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title">
      Вагон№: <%= carriage.number %> | Тип: <%= carriage.type %>
    </h5>

    <div class="row mb-2">
      <div class="col">
        <img src="<%= asset_path('car') %>" class="img">
      </div>
    </div>

    <% if carriage.type.present? %>
      <p>Тип вагона: <%= carriage.type %></p>
    <% end %>

    <% if carriage.top_seats.present? %>
      <p>Верхних мест: <%= carriage.top_seats %></p>
    <% end %>
  </div>
</div>
