<%= link_to 'Назад', train_carriages_path(@train) %>

<%= render partial: 'trains/train', locals: { train: @train } %>

<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title">
      Вагон №: <%= @carriage.number %> | Тип: <%= @carriage.type %>
    </h5>

    <div class="row mb-2">
      <div class="col">
        <img src="<%= asset_path('car') %>" class="img">
      </div>
    </div>

    <div class="mb-2">
      <%= link_to 'Изменить', edit_train_carriage_path(@train, @carriage) %>
      <%= link_to 'Удалить', train_carriage_path(@train, @carriage), data: { turbo_method: :delete, turbo_confirm: "Вы уверены?" } %>
    </div>
  </div>
</div>

<br>

<h5>Детальнaя информация о вагоне:</h5>

<% if @carriage.type.present? %>
  <p>Тип вагона: <%= @carriage.type %></p>
<% end %>

<% if @carriage.top_seats.present? %>
  <p>Верхних мест: <%= @carriage.top_seats %></p>
<% end %>

<% if @carriage.bottom_seats.present? %>
  <p>Нижних мест: <%= @carriage.bottom_seats %></p>
<% end %>

<% if @carriage.side_top_seats.present? %>
  <p>Верхних боковых мест: <%= @carriage.side_top_seats %></p>
<% end %>

<% if @carriage.side_bottom_seats.present? %>
  <p>Нижних боковых мест: <%= @carriage.side_bottom_seats %></p>
<% end %>

<% if @carriage.seating_seats.present? %>
  <p>Сидячих мест: <%= @carriage.seating_seats %></p>
<% end %>