<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title">
     Номер билета: <%= ticket.id %>
    </h5>

    <p>Имя пассажира: <%= ticket.passenger_name %></p>
    <p>Паспортные данные: <%= ticket.passport_number %></p>
    <p>Станция отправления: <%= ticket.departure_station.title %></p>
    <p>Станция прибытия: <%= ticket.arrival_station.title %></p>
    <p>Номер поезда: <%= ticket.train_id %></p>

    <%= link_to 'Изменить билет', edit_admin_ticket_path(ticket), class: "me-2" %>
    <%= link_to 'Скачать билет (PDF)', admin_ticket_path(ticket, format: :pdf), class: "me-2", target: '_blank' %>
    <%= link_to 'Сдать билет', admin_ticket_path(ticket), data: { turbo_method: :delete, turbo_confirm: "Вы уверены?" }  %>
  </div>
</div>