<%= form_with model: @route do |f| %>
  <div class="mb-2">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= f.label :railway_station_ids, "Список станций" %>
    <%= f.collection_select :railway_station_ids, RailwayStation.all, :id, :title, {}, multiple: true %>
  </div>

  <div>
    <%= f.submit 'Создать', class: 'btn btn-primary' %>
  </div>
<% end %>