<%= link_to 'Назад', admin_trains_path %>

<%= render @train %>

<div class="container d-flex align-items-center justify-content-center gap-2 mb-4">
  <%= link_to "Изменить", edit_admin_train_path(@train) %>
  <%= link_to "Удалить", admin_train_path(@train), data: { turbo_method: :delete, turbo_confirm: "Вы уверены?" } %>
</div>

<div class="mb-2">
  <%= form_with(model: @train, url: admin_train_path(@train), local: true, class: "mb-3") do |f| %>
    <div class="form-check">
      <%= f.check_box :sort_from_head, class: "form-check-input", onchange: 'this.form.submit()' %>
      <%= f.label :sort_from_head, "Сортировать вагоны с головы поезда", class: "form-check-label" %>
    </div>
  <% end %>
</div>

<div class="mb-2">
  <%= link_to 'К управлению вагонами', admin_train_carriages_path(@train) %>
</div>


<div class="mb-2">
  <% if @train.current_station.nil? %>
    Поезд не находится на какой-либо станции
  <% else %>
    <p>Поезд на станции: <strong><%= @train.current_station.title %></strong></p>
  <% end %>
</div>

<div class="mb-2">
  <% if @train.current_route.nil? %>
    Поезду не назначен маршрут
  <% else %>
    <p>Маршрут поезда: <strong><%= @train.current_route.name %></strong></p>
  <% end %>
</div>