<!DOCTYPE html>
<html>
  <head>
    <title>Tutu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="main-container">
    <%= render 'shared/menu'%>

    <%= render 'shared/flash' %>

    <%= yield %>

    <footer>@soniillusions</footer>
  </body>
</html>
